.todo-widget {
  .container {
    height: 100%;

    .list {
      background: 'red';
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      .close-button:hover {
        color: rgb(255, 0, 0);
      }
    }

    .input-box {
      width: 100%;
    }
  }
}
